.headerRegister{
	background: #4e73df;
	color: #FFF;
}
.headerUpdate{
	background: #ff8800;
	color: #FFF;
}
.notBlock{
	display: none;
}
.bg-login-capture {
	background: url("../img/fee8b6f7-276a-4cfc-b097-fa61e8bb781b.jpg");
	background-position: center;
	background-size: cover;
  }
  
  .bg-register-capture {
	background: url("../img/9ccfe18d-08ee-4dce-afd6-f1418e4e9961.jpg");
	background-position: center;
	background-size: cover;
  }
  
  .bg-password-capture {
	background: url("../img/9b621802-5e88-48c7-8174-316a5a422ad4.jpg");
	background-position: center;
	background-size: cover;
  }